@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Medium'), local('MuseoModerno-Medium'),
        url('MuseoModerno-Medium.woff2') format('woff2'),
        url('MuseoModerno-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Black'), local('MuseoModerno-Black'),
        url('MuseoModerno-Black.woff2') format('woff2'),
        url('MuseoModerno-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Light'), local('MuseoModerno-Light'),
        url('MuseoModerno-Light.woff2') format('woff2'),
        url('MuseoModerno-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Bold'), local('MuseoModerno-Bold'),
        url('MuseoModerno-Bold.woff2') format('woff2'),
        url('MuseoModerno-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno ExtraBold'), local('MuseoModerno-ExtraBold'),
        url('MuseoModerno-ExtraBold.woff2') format('woff2'),
        url('MuseoModerno-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno ExtraLight'), local('MuseoModerno-ExtraLight'),
        url('MuseoModerno-ExtraLight.woff2') format('woff2'),
        url('MuseoModerno-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Thin'), local('MuseoModerno-Thin'),
        url('MuseoModerno-Thin.woff2') format('woff2'),
        url('MuseoModerno-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Regular'), local('MuseoModerno-Regular'),
        url('MuseoModerno-Regular.woff2') format('woff2'),
        url('MuseoModerno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno SemiBold'), local('MuseoModerno-SemiBold'),
        url('MuseoModerno-SemiBold.woff2') format('woff2'),
        url('MuseoModerno-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

